.homeWrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: var(--sm);
    box-sizing: border-box;
    padding-top: var(--xxl);
    margin-bottom: var(--sm);
}

.content {
    position: relative;
    z-index: 1;
    max-width: 300px;
    padding: var(--sm) var(--lg);
    margin-bottom: var(--xxl);
}

.title {
    font: var(--text-5xl)
}

.bookingPanel {
    background-color: var(--color-back-white);
    border-radius: var(--xs);
    padding: var(--sm);
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hotelsList {
    padding: var(--xl);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--sm);
}

.categoryList {
    margin: auto;
    padding: var(--sm);
    padding-bottom: 0;
    max-width: 70%;
}

.paginationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1366px) {
    .bookingPanel {
        flex-direction: column;
        align-items: center;
    }

    .bookingPanel > :nth-child(1) {
        order: 1;
    }

    .bookingPanel > :nth-child(2) {
        order: 3;
    }

    .bookingPanel > :nth-child(3) {
        order: 2;
    }

    .bookingPanel > * {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

