.header {
    background-color: var(--color-back-beige);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--s) var(--xl);
    z-index: 1000;
}

.leftNav {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.rightNav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.navLink {
    color: var(--textColor);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: var(--xs);
    border-radius: var(--xs);
}

.mobileMenuItem {
    padding: var(--xs) 4px;
    font-size: 16px;
    color: #181818;
    font-weight: 500;
    border-radius: var(--xs);
}

@media (min-width: 600px) {
    .navLink:hover {
        color: var(--color-back-white);
        background-color: var(--textColor);
    }
}

@media (max-width: 600px) {
    .mobileMenuItem:hover {
        color: var(--color-back-white);
        background-color: var(--textColor);
        cursor: pointer;
    }
}
