.footer {
    background-color: var(--color-back-beige);
    color: var(--textColor);
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: var(--md);
}